@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @font-face {
    font-family: "Sofia Pro Medium";
    src: url("/fonts/Sofia Pro Medium Az.otf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Sofia Pro Black";
    src: url("/fonts/Sofia Pro Black Az.otf");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Sofia Pro Bold";
    src: url("/fonts/Sofia Pro Bold Az.otf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Sofia Pro Regular";
    src: url("/fonts/Sofia Pro Regular Az.otf");
    font-weight: 400;
    font-style: normal;
  }

  button, select {
    text-transform: none;
    outline: none;
  }
};